/* uncomment this and refresh the browsr to see the difference */

.container {
    background-color: #bfbfbf;
    height: 500px;
    width: 500px;
}

.the-content {
    background-color: #9a9696;
    height: 500px;
    width: 500px;
    padding: 100px;
    border: 50px yellowgreen solid;
    /* box-sizing: border-box; this is intermezo out of materi  */
    box-sizing: border-box;
    /* this relative display related */
    position: absolute;
    left: -100px;
    top: 30px;
}
